
.functionality {
  text-align: center;
}
.func-el{
  text-align: center;
}

.func-item{
  background-image: url('../public/img/01.jpg');background-size: cover; background-repeat: no-repeat; height: 30vh;
  /* background-image: url('../public/img/02.jpg');background-size: cover; background-repeat: no-repeat; height: 30vh;
  background-image: url('../public/img/03.jpg');background-size: cover; background-repeat: no-repeat; height: 30vh; */
}